<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-header bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="newEntry()">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <div class="bar bar-header bar-dark">
    	<h1 class="title">mHealth</h1>
    </div>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-icon-left" menu-close href="#/app/welcome">
          <i class="icon ion-ios-home"></i>
          Welcome
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/settings">
          <i class="icon ion-ios-gear"></i>
          Settings
        </ion-item>
        <ion-item class="item-divider">
         Connections
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/midata/chart">
          <i class="icon ion-ios-cloud"></i>
          MIDATA
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/healthkit">
          <i class="icon ion-ios-heart"></i>
          HealthKit
        </ion-item>
        <ion-item class="item-icon-left" menu-close href="#/app/cda">
          <i class="icon ion-ios-copy"></i>
          CDA Import
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
