<ion-view title="Settings">
    <ion-content overflow-scroll="false" padding="false" class="has-header">
    	<ion-list>
    		<ion-item class="item-divider">
    			MIDATA
    		</ion-item>
    		<i4mi-midata-login user="user" controller-name="I4MIMidataLoginController"></i4mi-midata-login>
		    <ion-item class="item-divider">
		    	HealthKit
		    </ion-item>
		    <ion-toggle ng-model="sync.active" toggle-class="toggle-positive" ng-change="toggleSync()">Sync Weight Records</ion-toggle>
		    <label class="item item-input item-select">
		    	<div class="input-label">Sync Interval</div>
		        <select ng-change="toggleSync()" ng-model="sync.interval">
		            <option value="" disabled>Choose Interval</option>
		            <option value="10000">10 s</option>
			        <option value="60000">1 min</option>
			        <option value="300000">5 min</option>
			        <option value="1800000">30 min</option>
			        <option value="-1">on open</option>
		        </select>
		    </label>
		    <ion-item>
		    	Synced: {{ sync.last | date:'dd MMMM yyyy HH:mm:ss' }}
		    </ion-item>
		    <button class="button button-full button-energized" ng-click="resetSync()">Reset Last Sync Date</button>
	    </ion-list>
    </ion-content>
</ion-view>